### Table of contents

01. Importing Libraries

02. Importing Data Set

03. Dictionaries and Functions

04. Personally Identifiable information review and removal

05. Regions

06. Customer Profiling

07. Exporting Data and Plots

# 01. Importing Libraries

In [4]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# 02. Importing Data Set(s)

In [5]:
# Creating a path variable as a short cut for future importing of data
path = r'/Users/tuor/DA Projects/230321 Instacart Basket Analysis'

In [6]:
ords_prods_cust = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '230331_orders_products_customers_merged.pkl'))

In [ ]:
# create a dictionary to map department names to IDs
department = {1: 'frozen', 2: 'other', 3: 'bakery', 4: 'produce', 5: 'alcohol', 6: 'international', 
                    7: 'beverages', 8: 'pets', 9: 'dry goods pasta', 10: 'bulk', 11: 'personal care',
                    12: 'meat seafood', 13: 'pantry', 14: 'breakfast', 15: 'canned goods', 16: 'dairy eggs', 
                    17: 'household', 18: 'babies', 19: 'snacks', 20: 'deli', 21: 'missing'}

In [9]:
crosstab = pd.crosstab(ords_prods_cust['days_since_prior_order'], ords_prods_cust['order_number'], dropna = False)

In [14]:
pd.options.display.max_columns = None

In [15]:
ords_prods_cust.head()

,user_id,first_name,last_name,gender,state,age,date_joined,number_of_dependents,marital_status,income,product_id,product_name,aisle_id,department_id,prices,order_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,merge_indicator,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_user_product_price,spender_flag,median_prior_order,freq_flag,indicator_opc_merge
0,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,196,Soda,77,7,9.0,2543867,5,1,9,30.0,2,0,both,both,Mid-range product,Regularly busy,Average orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
1,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,196,Soda,77,7,9.0,1285508,7,5,15,11.0,1,1,both,both,Mid-range product,Regularly busy,Average orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
2,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,196,Soda,77,7,9.0,2578584,8,1,15,10.0,2,1,both,both,Mid-range product,Regularly busy,Average orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
3,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,6184,Clementines,32,4,4.3,518967,1,2,9,NaN,1,0,both,both,Low-range product,Regularly busy,Average orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
4,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,6184,Clementines,32,4,4.3,2524893,3,3,11,30.0,2,1,both,both,Low-range product,2nd Least busy,Average orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both

In [11]:
crosstab.head(15)

order_number,1,2,3,4,5,6,7,8,9,10,...,90,91,92,93,94,95,96,97,98,99
days_since_prior_order,,,,,,,,,,,,,,,,,,,,,
0.0,0,20536,20441,17984,16438,16046,14384,13890,12774,11461,...,1195,1148,1040,937,1134,1099,1041,883,1037,935
1.0,0,31676,29950,28011,27093,25533,24997,22922,21784,21068,...,2787,2801,2728,2605,2606,2639,2436,2535,2633,2363
2.0,0,46456,46266,43905,40729,40909,38102,37521,35745,33831,...,3623,3555,3314,3590,3319,3072,2985,3057,3091,2609
3.0,0,61639,63389,59996,57883,56185,52871,49293,48296,47827,...,3318,3237,2799,3073,2902,2635,2659,2462,2168,2467
4.0,0,76735,78861,73542,70522,66570,62401,61148,59501,57701,...,2343,2260,2490,2031,1800,2083,1918,1792,1695,1810
5.0,0,89001,91747,86507,81861,77588,73587,70023,64469,63156,...,1630,1630,1367,983,1215,1220,1166,966,912,936
6.0,0,120686,122877,114651,106766,100759,95958,89752,87204,78638,...,754,842,940,1014,835,570,490,602,485,542
7.0,0,184806,181661,167607,157446,143635,137684,128428,120736,114772,...,634,573,521,440,602,421,420,378,419,322
8.0,0,112334,110745,102226,94946,87615,81626,78767,71075,67569,...,238,262,228,244,275,232,234,143,137,84
9.0,0,73681,75384,68515,65047,58934,54805,50598,47754,43484,...,190,90,98,101,146,91,67,102,66,65
10.0,0,62038,62458,57678,51918,49465,43710,41112,38444,34918,...,60,103,222,78,45,116,4,101,42,59
11.0,0,55564,55920,51974,45513,42543,40175,36887,33406,30831,...,57,83,175,55,68,126,63,64,1,19
12.0,0,54607,56631,51044,44617,42594,38687,35331,33480,29857,...,58,54,70,32,50,75,55,52,5,66
13.0,0,63964,66352,58479,54342,47727,44872,41269,38334,34277,...,69,93,93,80,85,24,27,61,83,68
14.0,0,82112,79774,74717,67484,60478,54863,49238,46266,42383,...,38,8,13,96,55,41,32,54,33,5

# 03. Dictionaries and Functions

In [ ]:
# create a dictionary of regions and their states
regions = {
    'Northeast': ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey'],
    'Midwest': ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri'],
    'South': ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana'],
    'West': ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']
}

In [ ]:
# create a function to assign the region based on the state
def assign_region(state):
    for region, states in regions.items():
        if state in states:
            return region
    return 'Unknown'

# 04. Personally Identifiable information review and removal

In [ ]:
# confirming shape of data frame
ords_prods_cust.shape

In [ ]:
# allowing for all columns to be seen
pd.set_option('display.max_columns', None)

In [ ]:
# reviewing columns to see if any PII exists
ords_prods_cust.head(5)

In [ ]:
# For PII removing First and last name of the user

ords_prods_cust = ords_prods_cust.drop(columns = ['first_name', 'last_name'])

In [ ]:
# Confirming Removale of first and last name columns
ords_prods_cust.head(5)

# 05. Regions

## 05.1 Assigning to a region

In [ ]:
ords_prods_cust['region'] = ords_prods_cust['state'].apply(assign_region)

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
# spot check to confirm regions properly defined
ords_prods_cust[['state','region']].tail(100)

In [ ]:
# spot check to confirm regions properly defined
ords_prods_cust[['state','region']].head(100)

In [ ]:
# reviewing assignment of region and that there are no erronious values
ords_prods_cust['region'].value_counts(dropna=False)

In [ ]:
# reviewing assignment of region and that there are no erronious values
ords_prods_cust['state'].value_counts(dropna=False)

## 05.2 Reviewing region by spender type

In [ ]:
# spender habit by region
ords_prods_cust.groupby('region')['spender_flag'].value_counts()

# 06. Customer Profiling

In [ ]:
# creating list of users with greater than 5 orders
high_revenue_customers = ords_prods_cust.loc[(ords_prods_cust['max_order'] > 5)]

In [ ]:
# confirming list removes all with max_order under 5
high_revenue_customers.value_counts('max_order').sort_index()

In [ ]:
# exporting high revenue customers
high_revenue_customers.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '230405_high_revenue_customers.pkl'))

In [ ]:
# New Parent: profile requirements
# Age <= 40, 
# Income > 52,200
# department 18
# dependents > 0

new_parent = high_revenue_customers.loc[(high_revenue_customers['income'] > 52200) & (high_revenue_customers['age'] <= 45) & (high_revenue_customers['number_of_dependents'] > 0) & (high_revenue_customers['department_id'] == 18)]['user_id'].unique()

In [ ]:
# New Parent: Filling in customer profile
high_revenue_customers.loc[high_revenue_customers['user_id'].isin(new_parent), 'customer_profile'] = 'New parent'

In [ ]:
# Young Professional: profile requirements
#Age <= 40, 
#income > 52,200, 
#dependents = 0 
#Department = irrelevant

high_revenue_customers.loc[(high_revenue_customers['income'] > 52200) & (high_revenue_customers['age'] <= 40) & (high_revenue_customers['number_of_dependents'] == 0), 'customer_profile'] = 'Young Professional'

In [ ]:
# Pet Owner: profile requirements - will write over other profiles
#Age irrelevant
#Income > 52,200
#Department = has 8 in purchases
#Number of dependents irrelevant

pet_parents = high_revenue_customers[(high_revenue_customers['income'] > 52200) & (high_revenue_customers['department_id'] == 8)]['user_id'].unique()

In [ ]:
# Pet Owner: Filling in customer profile - will write over other profiles
high_revenue_customers.loc[high_revenue_customers['user_id'].isin(pet_parents), 'customer_profile'] = 'Pet owner'

In [ ]:
# Elderly: profile requirements - Will write over other profiles
#Age > 67
#Income irrelevant
#Department irrelevant
#Number of dependents irrelevant

high_revenue_customers.loc[high_revenue_customers['age'] >= 67, 'customer_profile'] = 'Elderly'

In [ ]:
# High income adult: profile requirements - Will over write other profiles
#Age >= 35
#Income > 155,000
#Department irrelevant
#Dependents irrelevant

high_revenue_customers.loc[(high_revenue_customers['age'] >= 25) & (high_revenue_customers['income'] > 155000), 'customer_profile'] = 'High income adult'

In [ ]:
# Other - removing remaining NaN values
high_revenue_customers['customer_profile'].fillna('Other', inplace=True)

In [ ]:
high_revenue_customers['customer_profile'].value_counts(dropna=False)

In [ ]:
customer_profile_counts = high_revenue_customers['customer_profile'].value_counts(dropna=True)

In [ ]:
# Create the bar plot of order count by customer profile
cust_prof_cnt = customer_profile_counts.plot.bar()

In [ ]:
# Set the title and axis labels
cust_prof_cnt.set_title('Count of Orders by Customer Profiles')
cust_prof_cnt.set_xlabel('Customer Profile')
cust_prof_cnt.set_ylabel('Count')
# set the figure size and DPI
cust_prof_cnt.get_figure().set_size_inches(14, 15)
cust_prof_cnt.get_figure().dpi = 100

In [ ]:
# Group the data by 'customer_profile' and calculate the max, mean, and min of 'median_prior_order' and 'mean_user_product_price' for each group
grouped_data = high_revenue_customers.groupby('customer_profile')[['median_prior_order', 'mean_user_product_price']].agg(['max', 'mean', 'min'])

In [ ]:
#printing values
grouped_data.head(10)

In [ ]:
high_revenue_customers.shape

In [ ]:
# map department names to IDs in the high_revenue_customers data frame
high_revenue_customers['department'] = high_revenue_customers['department_id'].map(department)

In [ ]:
high_revenue_customers.shape

In [ ]:
high_revenue_customers['department'].value_counts(dropna=False)

In [ ]:
department_order_count = high_revenue_customers['department'].value_counts(dropna=False)

In [ ]:
# exporting high revenue customers
high_revenue_customers.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '2304013_high_revenue_customers.pkl'))

In [ ]:
# customer count by department unique user_id count
#customers_by_department_counts = high_revenue_customers.groupby('department')['user_id'].nunique()

In [ ]:
# Group the data by 'customer_profile' and calculate the max, mean, and min of 'median_prior_order' and 'mean_user_product_price' for each group
grouped_data_department = high_revenue_customers.groupby('department')[['median_prior_order', 'mean_user_product_price']].agg(['max', 'mean', 'min'])

In [ ]:
grouped_data_department.head(30)

In [ ]:
# Create the bar plot
dep_ord_cnt = department_order_count.plot(kind='bar', figsize=(10, 14))

# Set the title and axis labels
plt.title('Count of Orders by Department')
plt.xlabel('Department')
plt.ylabel('Count')

In [ ]:
# Set the title and axis labels
cust_prof_cnt.set_title('Count of Orders by Customer Profiles')
cust_prof_cnt.set_xlabel('Customer Profile')
cust_prof_cnt.set_ylabel('Count')
# set the figure size and DPI
cust_prof_cnt.get_figure().set_size_inches(14, 15)
cust_prof_cnt.get_figure().dpi = 100

In [ ]:
high_revenue_customers['region'].value_counts(dropna=False)

In [ ]:
region_order_count = high_revenue_customers['region'].value_counts(dropna=False)

In [ ]:
# Group the data by 'customer_profile' and calculate the max, mean, and min of 'median_prior_order' and 'mean_user_product_price' for each group
grouped_data_region = high_revenue_customers.groupby('region')[['median_prior_order', 'mean_user_product_price']].agg(['max', 'mean', 'min'])

In [ ]:
grouped_data_region.head(30)

In [ ]:
# Create the bar plot
reg_ord_cnt = region_order_count.plot(kind='bar', figsize=(10, 10))

# Set the title and axis labels
plt.title('Count of Orders by Region')
plt.xlabel('Region')
plt.ylabel('Count')

# 07. Exporting Data and Plots

In [ ]:
# saving customer profile by order count bar plot
cust_prof_cnt.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'customer_profile_order_count.png'))

In [ ]:
# saving department by order count bar plot

dep_ord_cnt.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'department_order_count.png'))

In [ ]:
# saving region by order count bar plot

reg_ord_cnt.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'region_order_count.png'))