## Table of Contents

### 01. Importing Libraries

### 02. Importing Data Sets

### 03. Data Wrangling

### 04. Merging products and orders_products_combined

# 01. Importing Libraries

In [18]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data Sets

In [19]:
# creating a path variable as a short cut for future importing of data
path = r'/Users/tuor/DA Projects/230321 Instacart Basket Analysis'

In [20]:
# Products data frame
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [21]:
# Orders data frame
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [22]:
# orders_products_combined data frame
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

# 03. Data Wrangling

In [23]:
# Reviewing if NaN is in the data frame
df_prods.isna().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [24]:
# Creating a data frame of records where product_name are NaN 
nan_df = df_prods[df_prods['product_name'].isna()]

In [25]:
# Confirming data frame creation
nan_df

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

# 04. Merging products and orders_products_combined (orders with product join info)

In [26]:
# confirming shape of data set
df_orders_products_combined.shape

(32434489, 10)

In [27]:
# reviewing columns for merging with products
df_orders_products_combined.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [28]:
# reviewing columns for merging with products
df_prods.shape

(49693, 5)

In [29]:
# reviewing columns for merging with products
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [30]:
# Merging df_prods and df_orders_products_combined
df_merged_ords_prods = df_prods.merge(df_orders_products_combined, on = 'product_id', indicator = 'merge_indicator')

In [31]:
#Reviewing merger
df_merged_ords_prods['merge_indicator'].value_counts()

both          32434212
left_only            0
right_only           0
Name: merge_indicator, dtype: int64

In [32]:
# merging using the outer method to assess the matching of the two data sets
df_merged_ords_prods_outer = df_prods.merge(df_orders_products_combined, on = 'product_id', how = 'outer', indicator = 'merge_indicator')

In [33]:
#Reviewing merger
df_merged_ords_prods_outer['merge_indicator'].value_counts()

both          32434212
right_only        2029
left_only           11
Name: merge_indicator, dtype: int64

In [34]:
#Looking through new data frame for consistency
df_merged_ords_prods_outer.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,merge_indicator
0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,3139998.0,138.0,28.0,6.0,11.0,3.0,5.0,0.0,both,both
1,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1977647.0,138.0,30.0,6.0,17.0,20.0,1.0,1.0,both,both
2,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,389851.0,709.0,2.0,0.0,21.0,6.0,20.0,0.0,both,both
3,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,652770.0,764.0,1.0,3.0,13.0,NaN,10.0,0.0,both,both
4,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1813452.0,764.0,3.0,4.0,17.0,9.0,11.0,1.0,both,both

In [29]:
# removing '_merge' column
df_merged_ords_prods_outer = df_merged_ords_prods_outer.drop('_merge', axis = 1)

In [30]:
# exporting to pickle
df_merged_ords_prods.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))